*{
    font-family: Century GOTHIC;
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}


.Header
{
padding: 15px 0;
background: white ;
}
.Header-Content
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
    background-color: azure;
}
.header
{
    color: blue;
    margin: 0px 0px 0px 330px;
}

.logo-Content{
display: flex;
flex-direction: row;
align-items: center;
border: 0px solid gray;
width: 100%;
margin: 20px;
}
.logo-Content img
{
border: solid 0px #42515f;
width: 5%;
}

.emp-text
{
color: cornflowerblue;
text-transform: capitalize;
letter-spacing: 0px;
}
.emp-payroll
{
color:#1d76c9
}

.header-content
{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    font-weight:600;
    color: grey;
    background-color: beige;
}
.Add-User
{
    margin-left: 1000px;
    padding: 10px;
    background-color: green;
    border: none;
}

.table
{
    width: 100%;
    padding: 5px 0px 0px 0px;
    border-spacing: 0px;
}

td,th {
    text-align: left ;
    padding: 5px;   
}


th{
    background-color:#42515f ;
    border-radius: 0px;
    text-align: left;
    color: white;
    padding: 10px 60px ;
}
td{
    color: #3d3d3d;
    background-color: #77b6f1;
    padding: 2px;
}
.Icon{
    height: 10%;
    width: 10%;
    margin: 10px;
}
.delete{
    border-radius: 8px;
    height: 11%;
    width: 11%;
    margin: 8px;
}
.profile{
    height: 20%;
    width: 20%;
}
td{
    box-sizing: border-box;
    text-align: center;
    font: italic small-caps bold 18px/24px georgia, serif;
}

td img{
    cursor: pointer;
}
.dept-label{
    font: italic small-caps bold 18px/24px georgia, serif;
    background-color: #e9fea5;
    border-radius: 50%;
    width:auto;
    padding: 1px 7px;
    text-align: center;
    font-size: 10px;
    display: inline-block;
    margin-bottom: 8px;
}