*{
    font-family: Century GOTHIC;
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

.Header
{
padding: 15px 0;
background: white ;
}
.Header-Content
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
    background-color: azure;
}
.header
{
    color: blue;
    margin: 0px 0px 0px 330px;
}

.logo-Content{
display: flex;
flex-direction: row;
align-items: center;
border: 0px solid gray;
width: 100%;
margin: 20px;
}
.logo-Content img
{
border: solid 0px #42515f;
width: 5%;
}

.emp-text
{
color: cornflowerblue;
text-transform: capitalize;
letter-spacing: 0px;
}
.emp-payroll
{
color:#1d76c9
}

.header-content
{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    font-weight:600;
    color: grey;
    background-color: beige;
}
.Add-User
{
    margin-left: 1000px;
    padding: 10px;
    background-color: green;
    border: none;
}